{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["import"],
  "rules": {
    "prefer-const": "error",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", ["parent", "sibling"], "internal", "index"],
        "newlines-between": "always",
        "alphabetize": { "order": "asc" }
      }
    ],
    "prettier/prettier": ["error"],
    "curly": ["error", "all"]
  },
  "ignorePatterns": ["node_modules/**"]
}
